{% load static %}
{% block content %}

<h1>Sport Position List</h1>

<table border="1">
    <thead>
        <tr>
            <th>Sport</th>
            <th>Position</th>
            {% if user.role == 'admin' or user.is_superuser%}
            <th>Update</th>
            <th>Delete</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for position in positions %}
        <tr>
            <td>{{ position.sport.sport_name }}</td>
            <td>{{ position.position_name }}</td>
            {% if user.role == 'admin' or user.is_superuser%}
            <td><a href="{% url 'position_update' position.pk %}">Update</a></td>
            <td><a href="{% url 'position_delete' position.pk %}">Delete</a></td>
            {% endif %}
        </tr>
    {% empty %}
        <tr>
            <td>No positions available.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{% url 'position_create' %}">+ New Position</a>

{% endblock content %}
