{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<section class="contact-section">
    <h2>Contact Us</h2>
    <p>If you have any questions, feedback, or need assistance, feel free to reach out to us. We are here to help you!</p>
    
    <div class="contact-info">
        <h3>Contact Information</h3>
        <ul>
            <li><strong>Email:</strong> support@yourwebsite.com</li>
            <li><strong>Phone:</strong> +63 (000000000)</li>
            <li><strong>Address:</strong> Talon Uno, Las Pinas City, Philippines</li>
        </ul>
    </div>
</section>
<footer class="about-footer">
    <p>&copy; 2025 <img src="{% static 'images/favicon.ico' %}" alt="Logo"> MS SportGanizer. All rights reserved.</p>
</footer>
{% endblock %}